@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root{--main-bg-color: rgb(50, 120, 250);}
*{margin: 0; padding: 0;}
footer{display: flex; justify-content: center; align-items: center; height: 10vh; background: var(--main-bg-color); color: white; font-family: 'Roboto Slab', serif; font-size: large;}
header{background: var(--main-bg-color); font-family: 'Roboto Slab', serif;}
nav{display: flex; flex-direction: row;}
nav ul{height: 59px; display: flex; flex-direction: flex-start; align-items: center;}
nav ul li{list-style: none; padding: 0 25px;}
nav ul li a{color: white; text-decoration: none; font-size: large;}
nav ul li a:hover{font-weight: bolder;}
.logo{display: flex; align-items: center;}
.logo img{width: 90px; padding: 0 25px;}
.cart{display: inline-flex; align-items: center;}
.cart img{padding:0px 1px 0px 30px;}
.cart p{color: white; padding: 0px;}
.container{min-height: calc(100vh - 58px - 10vh); background-color: aliceblue;}
.search{display: flex; align-items: center;}
.search input{width: 30vw; height: 27px; border-radius: 6px; margin: 0 16px 0 56px; padding:0 12px;}
.search button{font-family: 'Roboto Slab', serif; font-weight: 900;}
.btn{padding: 5px 10px; color: white; background: var(--main-bg-color); border: 2px solid white;border-radius: 7px; cursor: pointer; }
.slider{width: 70vw; margin: 12px auto;}
.card{max-width: 91vw; margin: 37px auto; padding: 10px; font-family: 'Pangolin', cursive; background-color: rgb(192, 252, 252);}
.card-item{display: inline-flex; justify-content: center; flex-direction: column; margin: 10px 22px;}
.lines{text-align: center; margin: 5px;}
.cards{display: flex; overflow: hidden;}
.card img{width: 160px; transition: width  1s ease-in-out;}
.card img:hover{width:170px;}
.card img{height: 160px; transition: height 1s ease-in-out;}
.card img:hover{height:170px;}
